:root {
    --fonte-principal: 'Poppins', sans-serif;
    --verde-fundo: #778c43;
    --cor-fundo: #EBECEE;
    --preto: #000000;
    --branco: #FFFFFF;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    text-align: justify;
}

.contente {
    width: 50%;
    font-size: 24px;
    margin: auto;
    padding: 2em 0;
}

.content {
    background-color: var(--verde-fundo);
    color: var(--branco);
    padding:  4em 0 4em 0 ;
}

.content__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__info {
    width: 45%;
    margin: 0 5em 0 0;
    font-size: 24px;
}

.content__info__text {
    padding: .5em .5em 0 0;
}

.content__info__img {
    width: 30%;
    height: 30%;
}


.content2 {
    background-color: var(--branco);
    color: var(--preto);
    margin: 5em auto;
    padding: 2em 0;
}

.content__box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__info2 {
    width: 50%;
    font-size: 24px;
    text-align: justify;
    margin: 0 3em;
}

.invest {
    display: flex;
    margin: 2em auto 5em auto;
    justify-content: space-evenly;
    align-items: center;
}

.card-title {
    font-size: 32px;
}

.card-text {
    font-size: 24px;
    width: 75%;
}

.btn {
    background-color: var(--verde-fundo);
    font-size: 24px;
}

.invest__total {
    height: 15em;
}

.card-header {
    font-size: 32px;
    color: var(--branco);
    background-color: var(--verde-fundo);
}

.card-title {
    font-size: 24px;
}

.card-text {
    font-size: 32px;
    padding: .2em;
}