/* Estilos personalizados */
.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar-brand img {
  margin-right: 5px;
}

.navbar-brand span {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: green;
  font-weight: bold;
  margin-right: 15px;
  font-size: larger;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Estilos personalizados para o carousel */
.carousel {
  width: 100%;
  /* Defina a largura do carousel como 100% */
  margin: 0 auto;
  /* Centralize o carousel horizontalmente */
}

.carousel-inner {
  height: 500px;
  /* Defina a altura desejada para o carousel */
}

.carousel-item img {
  object-fit: fill;
  /* Ajuste o dimensionamento das imagens do carousel para cobrir completamente o contêiner */
  height: 100%;
  /* Preencha completamente a altura do contêiner */
}

body {
  background-color: rgb(18, 70, 18);
  font-family: 'Montserrat', sans-serif;
  padding-top: 72px;
}






.section {
  display: flex;
  align-items: center;
  padding: 20px;
}

.white-section {
  background-color: white;
}

.green-section {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}


.aste-verde-esquerda {
  width: 26px;
  height: 190px;
  background-color: #80dd16;
}

.texto-esquerda {
  color: #ffffff;
  font-size: 24px;
  width: 385px;
  margin-left: 24px;
}

/*
  texto direita
  */

.aste-verde-direita {
  width: 26px;
  height: 190px;
  background-color: #80dd16;
}

.texto-direita {
  text-align: right;
  font-size: 24px;
  width: 338px;
  margin-right: 60px;
}

.estrutura-pagina {
  display: flex;
}